* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
html, body {
    color: green;
}
.container {
    padding: 0 100px;
}
header {
    height: 80px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-logo {
    color: yellow;
    font-size: 30px;
    text-transform: uppercase;
    font-family: monospace;
}

nav ul {
    display: flex;
    /* background-color: green; */
    list-style-type: none;
}
nav ul li {
    position: relative;
}
nav ul li a {
    box-sizing: border-box;
    color: grey;
    text-transform: uppercase;
    padding: 40px 0;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
}
nav ul li a:hover{
    color: yellow;
    border-bottom: 1px solid red;
}
.cta-btn {
    color: #121212;
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    text-transform: uppercase;
    transition: all 0.5s;
}
.cta-btn:hover {
    color: yellow;
    background-color: #121212;
    border: 1px solid yellow;
}

/* 

    Main Style

*/

main {
    border:2px solid green;
    margin: 50px 200px;
    overflow: auto;
    padding: 20px;
}
main > img {
    float: left;
    width: 40%;
    padding-right: 20px;
    /* padding-bottom: 20px; Not neccessary */
}
main > p {
    color: #121212;
    letter-spacing: 1.4px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    text-transform: capitalize;
}
nav ul li ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
}
nav ul li ul li {
    display: none;
    background-color: green;
    text-align: left;
}
nav ul li ul li a {
    display:block;
    line-height: 40px;
    padding: 0 30px;
    color: black;
}
nav ul li ul li a:hover {
    color: red;
    border-bottom: 1px solid black;
}
nav ul li:hover ul li {
    display: block;
}