:root {
    --bg-color: #000000;
}
body {
    background-color: var(--bg-color, aqua);
    /* height: 10000px; */
    color: orange;
    font-family: monospace;
}
.rectbox1{
    position: relative;
    top: 100px;
    right: -100px;
    width: 200px;
    height: 20px;
    color: orange;
    background-color: orange;
}
.rectbox2{
    position: relative;
    top: 80px;
    right: -100px;
    width: 20px;
    height: 200px;
    color: orange;
    background-color: orange;
    animation: beat infinite normal 1.0s;
}
/* Animation */
/* Animation */
/* Animation */
/* Animation */
/* Animation */
/* Animation */
/* Animation */
.circle1{
    position: relative;
    top: -150px;
    right: -60px;
    width: 100px;
    height: 100px;
    color: orange;
    background-color: rgb(255, 0, 98);
    border-radius: 50%;
}
.rectbox3{
    position: absolute;
    bottom:10%;
    left: 93%;
    width: 20px;
    height: 200px;
    color: orange;
    background-color: orange;
}
.rectbox4{
    position: absolute;
    bottom: 10%;
    left: 80%;
    width: 200px;
    height: 20px;
    color: orange;
    background-color: orange;
}
.circle2{
    position: absolute;
    bottom: 7%;
    left: 90%;
    width: 100px;
    height: 100px;
    color: orange;
    background-color: rgb(255, 0, 98);
    border-radius: 50%;
}
.my-name {
    font-size: 80px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.my-skill {
    color: rgb(255, 0, 98);
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 63%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
}